<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>IPFS Demo</title>
</head>
<body>
    <h1>File Uploaded!</h1>
    <p>Name: <%= fileName %></p>
<!--    <p>Link: <a href="https://ipfs.io/ipfs/<%= fileHash %> " target="new"> <%= fileHash %> </p> -->
    <p>Link: <a href="http://ipfs.localhost:8080/ipfs/<%= fileHash %> " target="new"> <%= fileHash %> </p>
</body>
</html>